#header{

    font-family: 'Pangolin' , cursive;
    font-size: xx-large;
    margin-bottom: 10%;
    margin-top: 10%;

}

/* #sub{ */
button {

    border-radius: 7px;

}

input{
    width: 50%;
    height: 44px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 2%;
}

.verpwd{

    font-family: 'Pangolin' , cursive;

}

#sub2{

    display: none;
    font-size: larger;

}

#sub1{

    font-size: larger;

}