* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

nav {
   font-family: 'Pangolin', cursive;
}


.left img {

    width: 50%;
    height: 50%;
    margin: 10% 15%;
    margin-left: 22%;
    margin-top: 5%;

}

.left #title {
    margin: auto 25%;
    font-family: 'Pangolin', cursive;
    font-size: 4vw;
}

.left #liner{

    margin: auto;
    font-family: 'Pangolin' , cursive;
    font-size: 2vw;

}

.left {

    border-right: 1px solid black;

}

.row {

    margin-top: 2%;

}


.signin #user{
    margin-bottom: 5%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
        width: 50%;
        height: 40px;
        padding: 3px;
        border-radius: 10px;
        border: 1px solid black;
}

.signin,
.signup {
    font-family: 'Pangolin' , cursive;
    font-size: large;
    display: none;
    margin-top: 9%;
    margin-left: 5%;
}

.signin.active,
.signup.active {
        display: block;
}

.nav{

    font-family: 'Pangolin' , cursive;
    font-size: x-large;

}

.ri8 .nav-link.active {
     cursor: pointer;
     background: #fff;
     color: #0f0f0f;
}

.ri8 .nav-link{
     cursor: pointer;
     background: #dfdfdf;
}


form p {
        color: red;
}


.signin #days{

    margin-top: 2%;

}

label:not(#days) {

    display: inline-block;
    width: 10vw;

}

::selection{

    color: #fff;
    background-color: #5f5f5f;

}

button{

    font-size:1.5vw!important;

}

#forgot-pwd{

    margin-top: 2%;

}

.spinner-grow {
        display: none;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.modal {
        display: block;
}

@media screen and (max-width: 991px) {
        .left {
                border: none;
        }

        .left #liner {
                font-size: 4vw;
        }

        .left #title {
                font-size: 6vw;
        }

        label:not(#days) {

            display: inline-block;
            width: 25vw;
        
        }

        button{

            font-size: 5vw!important;

        }
}
