* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

nav {
   font-family: 'Pangolin', cursive;
}

nav img {
    filter: invert(100%);
}

.col {
}

.col img {

    width: 50%;
    height: 50%;
    margin: 10% 15%;

}

.col h2 {
    margin: 2% 25%;
    font-family: 'Pangolin', cursive;
}
