nav ul {
        margin-left: 3%;
}

nav ul li{

    margin-left: 7%;

}

nav li {
        list-style: none;
}

nav li a {
        text-decoration: none;
}

#navbarDropdown {
        color: #fff;
}

#navbarDropdown:hover {
        color: #0f0;
}

@media screen and (max-width: 991px) {
        nav ul li {
                margin: 0;
        }
        nav li {
                margin: 0;
        }
}
