
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Pangolin', cursive;
}

::selection {

    color: #fff;
    background-color: #5f5f5f;

}

.tasksmain{

   margin-top: 3%;

}

.taskz{

   margin-top: 5%;
   margin-left: 7%;
   margin-right: 7%;
   margin-bottom: 7%;
   font-size: x-large;

}