<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="shortcut icon" type="images/png" href="https://drive.google.com/uc?id=1gqTzq7ra_3SKBd6_ZSsJyW-OhRwxGFZv">
        <title>Task Handler | Your Todos</title>
        
        <!-- Bootstrap -->
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
                      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
                        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        
        <!-- Fonts -->
                <link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet"> 
        <!-- Fonts -->
        
        <link rel="stylesheet" href="/static/css/index.css">
</head>
<body onload="clearFields()">
        
        <script src="/static/js/validate.js"></script>
        <script src="/static/js/formsubmit.js"></script>
                <!-- Image and text -->
                <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="/">
                                <img src="https://drive.google.com/uc?id=1gqTzq7ra_3SKBd6_ZSsJyW-OhRwxGFZv" width="30" height="30" class="d-inline-block align-top" alt="">
                                Task-Handler
                        </a>
                </nav>

        <main>

                <div class="container-fluid">

                        <div class="row">

                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 left">

                                        <img src="https://drive.google.com/uc?id=1gqTzq7ra_3SKBd6_ZSsJyW-OhRwxGFZv">

                                        <center><p id='title'>Task-Handler</p></center>
                                        <center><p id="liner">"I Wasted Time, Now Time Doth Waste me" - Working in time keeps the horror of wasting away away</p></center>
                                        
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ri8">

                                        <ul class="nav nav-tabs">

                                                <li class="nav-item">
                                                        <span class="nav-link active" onclick="tabSwitcher(0)">Sign In</span>
                                                </li>

                                                <li class="nav-item">
                                                        <span class="nav-link" onclick="tabSwitcher(1)">Sign Up</span>
                                                </li>
                                                
                                        </ul>

                                        <div class="signin active">

                                                <form method="post" action="/login">

                                                        <label for="username">Username:-</label>
                                                        <input type="text" name="user" id="username" placeholder="username"  onblur="validateUserName(this, 'invalid-username')">


                                                        <p id="invalid-username"></p>

                                                        <br>
                                                        <label for="password">Password:-</label>
                                                        <input type="password" name="password" id="password" placeholder="password" onblur="validatePassword(this)"> 

                                                        <p id="invalid-password"></p>

                                                        <br>
                                                        <input type="checkbox" id="remember" name="remember"><label id="days" for="remember">Keep me signed in for 30 days</label>

                                                        <br>
                                                        <a id="forgot-pwd" href="/forgot-password">Forgot Password ?</a>
                                                        
                                                        {% if user == "invalid" %}
                                                                <p>Invalid username or password</p>
                                                        {% endif %}

                                                        {% if verification == "failed" %}
                                                                <p>Unable to change password due to unverified user</p>
                                                                <p>Make sure you entered correct passwod send to your email</p>
                                                        {% endif %}

                                                        <br>
                                                        <button type="button" class="btn btn-dark" onclick="signinSubmit(this.form)">Login</button>

                                                </form>

                                        </div>

                                        <div class="signup">

                                                <form method="post" action="/verify-password">
                                                        <label for="user">Username:-</label>
                                                        <input type="text" name="user" id="user" placeholder="username"  onblur="validateSignUpUserName(this)">
                                                        <div class="spinner-grow" role="status"></div>

                                                        <p id="invalid-user"></p>

                                                        <br>
                                                        <label for="email">Email:-</label>
                                                        <input type="email" name="email" id="email" placeholder="youremail@provider.com"   onblur="validateEmail(this)">
                                                        <div class="spinner-grow" role="status"></div>

                                                        <p id="invalid-email"></p>

                                                        {% if signup == "failed" %}
                                                                <p>Unable to sign you up due to unverified email</p>
                                                        {% endif %}

                                                        <br>
                                                        <button type="button" class="btn btn-dark" onclick="signupSubmit(this.form)">Sign Up</button>

                                                </form>

                                        </div>

                                </div>

                        </div>

                </div>

        </main>
        <script>
                function clearFields() {
                        document.forms[0].reset();               
                        document.forms[1].reset();               
                }                                                                                                                             
                function tabSwitcher(index) {
                        let tab = document.getElementsByClassName("nav-link")
                        let signin = document.getElementsByClassName('signin')[0]
                        let signup = document.getElementsByClassName('signup')[0]
                         if (tab[index].classList.contains("active"))
                                 return
                         else {
                                 tab[index ^ 1].classList.remove("active")
                                 tab[index].classList.add("active")
                         }

                        if(index===0){

                                if(signin.classList.contains("active"))
                                        return

                                signin.classList.add("active")
                                signup.classList.remove("active")


                        }
                        else{

                                if(signup.classList.contains("active"))
                                        return

                                signup.classList.add("active")
                                signin.classList.remove("active")


                        }
                }
                        
        </script>

</body>
</html>
