<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="shortcut icon" type="images/png" href="https://drive.google.com/uc?id=1gqTzq7ra_3SKBd6_ZSsJyW-OhRwxGFZv">
        <title>Task Handler | SignUp</title>
        
        <!-- Fonts -->
                <link rel="preconnect" href="https://fonts.gstatic.com">
                <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet"> 
        <!-- Fonts -->
        
</head>
<body>
        
        <main>
                <div>
                        <p>
                                Consectetur consequatur sed commodi adipisci ratione quos, quibusdam deserunt Possimus molestias quos deleniti dolorem molestias. Mollitia quasi quod aut similique nisi Atque harum suscipit totam provident vitae Enim aliquam quidem
                        </p>
                        <form action="/" method="get">
                                <button type="Submit">Login</button>
                        </form>
                </div>
        </main>

</body>
</html>

